@font-face {
    font-family: CursedTimerULiL;
    src: url(CursedTimerUlil-Aznm.ttf);
}


body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: white;
    background: #1B244A; 
    align-items: center;
    margin: 24px; 
    padding: 100px 32px; 
    border-radius: 8px;
}

.score {
    background: black; 
    color: #f94f6d; 
    font-weight: 400; 
    font-size: 90px; 
    padding: 24px 42px;
    border-radius: 8px;
    font-family: CursedTimerULiL;
    text-align: center;
}

.addscore {
    border: solid 1px #9AABD8;
    color: #9AABD8;
    background: none;
    display: flex;
    font-family: CursedTimerULiL;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px; 
}

.btn-group {
    display: flex; 
    justify-content: center;
    gap: 10px;
    margin: 38px 0 64px 0;
}

.col {
    text-align: center;
}